@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    font-size: 1em;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    font-family: roboto, sans-serif;
    line-height: 1.4
}

.tpborder {
    padding: 0 0 18px;
    border-top: 4px solid #c20017;
    background: #036;
    margin-bottom: 30px
}

header h3 {
    margin: 0;
    text-align: center;
    font-size: .89rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529
}

h1,
h2,
h3,
h4,
h5,
h6,
.mh-footer,
.widget-list li,
.cat-item,
.page_item,
.menu-item,
.button,
.submit,
.commentlist .vcard,
.pagination {
    font-family: inherit
}

.logo-title {
    font-size: 42px;
    font-size: 2.625rem;
    color: #005a8c;
    font-weight: 700;
    text-transform: uppercase
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    -webkit-text-size-adjust: none
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

img {
    max-width: 100%
}

a {
    color: #0198bd;
    font-size: 1.1em;
    font-weight: 700
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto
}

.clear {
    clear: both
}

.container img {
    margin: 25px auto;
    display: block
}

.leftelem {
    width: 70%;
    float: left;
    padding-right: 30px;
    box-sizing: border-box
}

.rightelem {
    width: 30%;
    float: right
}

.rightelem p strong {
    font-weight: 700;
    font-style: italic
}

.testmonblock img {
    margin-bottom: 10px
}

.rightelem hr {
    border: none;
    color: #666;
    border-bottom: 2px solid #0198bd;
    margin-bottom: 15px
}

.content p a {
    color: #0198bd
}

p {
    font-family: roboto, sans-serif;
    margin: 0 0 10px;
    margin-top: 0;
    line-height: 1.4;
    font-size: 18px;
    color: #222
}

.newcustom {
    margin-top: 30px;
    margin-bottom: 10px
}

.nomargin {
    margin: 3px;
    padding-left: 38px;
    position: relative;
    padding-bottom: 10px
}

.nomargin img {
    position: absolute;
    left: 0;
    top: -8px
}

h1 {
    font-size: 2.6em;
    font-weight: 900;
    line-height: 1em;
    color: #222;
    margin-bottom: 25px
}

em {
    font-style: italic
}

h2 {
    margin: 15px 0;
    text-align: center;
    font-size: 2em;
    line-height: 36px;
    font-weight: 900;
    color: #222
}

h3 {
    font-weight: 900;
    margin-bottom: 15px;
    font-size: 1.2em
}

.adblock {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #ccc;
    background: #f5f9fa none repeat scroll 0% 0%;
    padding: 10px 15px;
    margin-bottom: 15px
}

.adblock h2 {
    text-align: left;
    font-size: 1.5em
}

.adblock img {
    display: block;
    margin: 10px auto
}

.adblock p {
    color: #434343;
    font-family: roboto, sans-serif;
    font-weight: 900;
    padding: 22px 12px 0;
    text-align: center;
    font-size: 1.1em
}

.yellowblk {
    background: #ffffc2;
    padding: 20px;
    border: none;
    margin: 30px auto
}

.yellowblk p {
    font-weight: 400;
    padding: 0
}

strong {
    font-weight: 700;
    color: #111
}

.yellowblk a {
    display: block;
    text-align: center;
    padding: 5px
}

.yellowblk img {
    max-height: 120px
}

ul.mylist {
    padding-left: 15px
}

ul.mylist li {
    list-style: disc;
    margin-bottom: 10px;
    list-style-position: inside;
    font-size: 1.2em
}

ul.mylist li {
    list-style: disc
}

.testiblock p {
    text-align: center
}

.testiblock {
    padding: 0 30px
}

.testiblock img {
    margin: 0 auto
}

.container .sign-img {
    margin: 0
}

footer {
    padding: 20px
}

footer p {
    text-align: center
}

footer a {
    font-size: .8em;
    font-weight: 400;
    text-decoration: none
}

.notabene img {
    top: -26px !important
}

.pulse {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(.9);
        transform: scale(.9);
        opacity: .9
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(.9);
        transform: scale(.9);
        opacity: .9
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(.95);
        opacity: .9
    }

    50% {
        -webkit-transform: scale(1);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(.95);
        opacity: .9
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}

@media screen and (max-width:980px) {
    .container {
        padding: 5px
    }
}

@media screen and (max-width:780px) {

    .rightelem,
    .leftelem {
        float: none;
        width: 100%;
        padding: 5px
    }
}

@media screen and (max-width:560px) {
    h1 {
        font-size: 1.9em
    }

    h2 {
        font-size: 1.5em;
        line-height: 1.1em
    }
}

.container2 {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    clear: both;
    display: block;
    padding: 0
}

.topmheader2 {
    width: 100%;
    height: 50px;
    background-color: #0a52a4;
    border-bottom: 1px solid #b4b4b4;
    -webkit-box-shadow: 0 .1rem .4rem #b4b4b4;
    box-shadow: 0 .1rem .4rem #b4b4b4
}

.advertorial2 {
    color: #999;
    font-size: .75rem;
    text-align: center;
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 2px;
    background: #fff;
    box-sizing: border-box
}

.img3 {
    height: 45px;
    max-width: 75x
}

.innerBot {
    max-width: 328px;
    display: inline-block
}

.innerBot .freebot {
    width: 160px;
    display: inline-block;
    vertical-align: middle;
    font-family: Arial, sans-serif
}

.innerBot a {
    display: inline-block;
    vertical-align: middle;
    background-color: #0ccb41;
    border: 1px solid #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 4px;
    font-size: 13px;
    width: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff !important;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-weight: 700
}

.bottomFix {
    z-index: 50000;
    font-size: 13px;
    color: #fff;
    text-align: center;
    background-color: #c50101;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0
}

.clearfix {
    clear: both;
}

ul.liststyle {
    padding: 0;
    margin: 0;
    text-align: center;
}

.botmadsblock .liststyle ul {
    text-align: center;
}

.botmadsblock .liststyle li {
    padding: 0 .5%;
    vertical-align: top;
    margin: 0 0 25px;
    width: 24.5%;
    display: inline-block;
}

.botmadsblock .liststyle li img {
    width: 100%;
}

.botmadsblock {
    margin-top: 40px;
}

.botmadsblock .liststyle li h5 {
    padding: 0;
    text-align: left;
    margin: 0;
    text-decoration: none;
    line-height: 1.3em;
    font-family: Open Sans, Lato, sans-serif !important;
    font-size: 18px;
}

.botmadsblock .liststyle li a {
    text-decoration: none;
    font-family: Open Sans, Lato, sans-serif;
}

.botmadsblock .liststyle li h5 .felem {
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #111516;
    font-weight: bold;
}

.botmadsblock .liststyle li h5 .lelem {
    color: blue;
    font-weight: 400;
    text-decoration: underline;
    font-style: italic;
}

.botmadsblock h6 {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

@media(max-width:660px) {
    .botmadsblock .liststyle li {
        padding: 0 .7%;
        width: 49%;
    }

    .botmadsblock .mainbody .container {
        padding: 5px;
    }
}

.clearfix {
    clear: both
}

ul.liststyle {
    padding: 0;
    margin: 0;
    text-align: center;
}

.liststyle ul {
    text-align: center
}

.liststyle li {
    padding: 0 .5%;
    font-family: roboto;
    vertical-align: top;
    margin: 0 0 25px;
    width: 24.7%;
    display: inline-block;
    text-align: left;
}

.liststyle li img {
    width: 100%
}

.maintextblock {
    margin-top: 40px
}

.maintextblock h6 {
    text-align: center;
    font-size: 1.4em;
    padding-bottom: 15px;
}

.liststyle li h5 .felem {
    font-weight: 700;
    text-align: left;
    font-family: roboto;
    font-size: 22px;
    color: #000000;
}

.liststyle li h5 .felem3 {
    font-weight: 500;
    text-align: left;
    font-family: roboto;
    font-size: 18px;
    color: #000000;
}

.liststyle li h5 .lelem3 {
    text-align: left;
    color: #0000FF;
    font-weight: 400;
    font-size: 20px;
    font-family: roboto;
    text-decoration: none;
}

.content .liststyle li h5 {
    line-height: 1.2em;
    font-size: 1.4em;
    font-family: Open Sans, Arial, Lato, sans-serif;
}

@media(max-width:660px) {
    .content .liststyle li h5 {
        line-height: 1.2em;
        font-size: 1.2em;
    }

    .liststyle li {
        padding: 0 .7%;
        width: 49%
    }

    .mainbody .container {
        padding: 5px
    }
}